In [1]:
import pandas as pd

from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv("sample_dataset.csv")

In [3]:
X = df.iloc[:,0:3]

In [4]:
X

     mean radius  mean texture  mean perimeter
0            NaN         10.38          122.80
1          20.57         17.77          132.90
2          19.69         21.25          130.00
3          11.42         20.38           77.58
4          20.29         14.34             NaN
..           ...           ...             ...
564        21.56         22.39          142.00
565          NaN         28.25          131.20
566        16.60         28.08          108.30
567        20.60         29.33          140.10
568         7.76           NaN           47.92

[569 rows x 3 columns]

# Replace blanks with the mean value

In [5]:
cleaner = SimpleImputer(strategy='mean')

In [6]:
cleaner.fit(X)

SimpleImputer()

In [7]:
cleaner.transform(X)

array([[ 14.05954772,  10.38      , 122.8       ],
       [ 20.57      ,  17.77      , 132.9       ],
       [ 19.69      ,  21.25      , 130.        ],
       ...,
       [ 16.6       ,  28.08      , 108.3       ],
       [ 20.6       ,  29.33      , 140.1       ],
       [  7.76      ,  19.31182927,  47.92      ]])

# Replace blanks with median value

In [8]:
cleaner = SimpleImputer(strategy = 'median')

In [9]:
cleaner.fit_transform(X)

array([[ 13.28,  10.38, 122.8 ],
       [ 20.57,  17.77, 132.9 ],
       [ 19.69,  21.25, 130.  ],
       ...,
       [ 16.6 ,  28.08, 108.3 ],
       [ 20.6 ,  29.33, 140.1 ],
       [  7.76,  18.86,  47.92]])

# Replace blanks with fixed value

In [10]:
cleaner = SimpleImputer(strategy = 'constant', fill_value = 0)

In [11]:
cleaner.fit_transform(X)

array([[  0.  ,  10.38, 122.8 ],
       [ 20.57,  17.77, 132.9 ],
       [ 19.69,  21.25, 130.  ],
       ...,
       [ 16.6 ,  28.08, 108.3 ],
       [ 20.6 ,  29.33, 140.1 ],
       [  7.76,   0.  ,  47.92]])